@import "themes/mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans", "Symbols Nerd Font";
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: alpha(@base, 0.9);
    color: @text;
		border-bottom: 2px solid @lavender;
}

#workspaces {
	background-color: @surface0;
}

#workspaces button {
    padding: 0 8px;
    color: @lavender;
    background: transparent;
}

#workspaces button:active {
    color: @sapphire;
}

#workspaces button.active {
    color: @blue;
    font-weight: bold;
}

#clock, #cpu, #memory, #network, #pulseaudio, #custom-battery_merged, #tray, #window {
    padding: 0 12px;
    margin: 4px 4px;
    background: @surface0;
    border-radius: 8px;
}

#clock {
	color: @sky;
}

#cpu {
	color: @peach;
}

#memory {
	color: @teal;
}

#network {
	color: @mauve;
}

#pulseaudio {
	color: @maroon;
}

#custom-battery_merged.plugged {
	color: @blue;
}

#custom-battery_merged.warning {
	color: @yellow;
}

#custom-battery_merged.critical {
	color: @red;
}

#custom-battery_merged.charging {
	color: @green;
}

#custom-battery_merged.normal {
	color: @flamingo;
}
